html {
	font-family: 'Lato', sans-serif;
}


.color1e2327 {
	background: #1e2327;
	color: #ffffff;
	height: 100vh;
	display: table-cell;
	vertical-align: middle;
}


.row {
	display: table;
}


.qazxcdew {
	padding-right: 0px;
	padding-left: 0px;
}


.colore_marginleft {
	margin-left: -40.1px;
}


.colore9a904 {
	background: #e9a904;
	color: #1e2327;
	height: 100vh;
	padding-left: 40px;
	display: table-cell;
	vertical-align: middle;
}


.ma35 {
	margin-left: 35%;
}


.ma30 {
	margin-left: 37%;
}


.iau__h2 {
	color: #fff;
	font-size: 30px;
	line-height: 32px;
	font-weight: 300;
	margin-bottom: 67px; 

}


hr {
	margin-top: 60px;
	margin-bottom: 60px;
	width: 7%;
	height: 1px;
	background: #737c85;
}


.iau__text {
	color: #737c85;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
}


.co1e {
	color: #1e2327;
}


.he220 {
	height: 220px;
}


.he410 {
	height: 410px;
}


.he380 {
	height: 380px;
}


.he427 {
	height: 427px;
}


.mw-100 {
	max-width: 100%;
}


.mw {
	width: 100%;
}


.bo35 {
	margin-bottom: 35px;
}


.head__qwre {
	color: #eaa904;
	font-size: 10px;
	line-height: 24px;
	font-weight: 300;
}


.njxrf {
	color: #5c646b;
}


.to40 {
	margin-top: 20px;
	margin-bottom: 20px;
}


.price button {
	background: none;
	border: 3px solid #737c85;
	color: #737c85;
	padding: 10px 25px;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
}


a {
	position: absolute;
	text-align: center;
	font-size: 12px;
	color: #fff;
}




