html {
	font-family: 'Lato', sans-serif;
}


img {
	height: auto;
}


.color1e2327 {
	background: #1e2327;
	color: #ffffff;
	height: 100vh;
	display: table-cell;
	vertical-align: middle;
}


.color1e {
	background: #1e2327;
	color: #ffffff;
	height: 10vh;
	display: table-cell;
	vertical-align: middle;
	padding-top: 2vh;
}


.row {
	display: table;
}


footer .row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
}


.qazxcdew {
	padding-right: 0px;
	padding-left: 0px;
}


.colore_marginleft {
	margin-left: -2.085vw;
}


.colore9a904 {
	background: #e9a904;
	color: #1e2327;
	height: 100vh;
	padding-left: 2.08334vw;
	display: table-cell;
	vertical-align: middle;
}


.ma35 {
	margin-left: 35%;
}


.ma30 {
	margin-left: 37%;
}


.iau__h2 {
	color: #fff;
	font-size: 1.5625vw;
	line-height: 32px;
	font-weight: 300;
	margin-bottom: 67px; 
}


hr {
	margin-top: 60px;
	margin-bottom: 60px;
	width: 7%;
	height: 1px;
	background: #737c85;
}


.iau__text {
	color: #737c85;
	font-size: 0.625vw;
	line-height: 24px;
	font-weight: 400;
}


.co1e {
	color: #1e2327;
}


.he220 {
	height: 220px;
}


.he410 {
	height: 410px;
}


.he380 {
	height: 380px;
}


.he427 {
	height: 427px;
}


.jpg7 {
	background: url(img/7.png);
}


.mw-100 {
	max-width: 100%;
}


.mw {
	width: 100%;
}


.ba15 {
	background: #1e2327;
}


.modal-title {
	color: #1e2327;
}


.bo35 {
	margin-bottom: 35px;
}


.head__qwre {
	color: #eaa904;
	font-size: 0.625vw;
	line-height: 24px;
	font-weight: 300;
}


.njxrf {
	color: #5c646b;
}


.to40 {
	margin-top: 20px;
	margin-bottom: 20px;
}


.price button {
	background: none;
	border: 3px solid #737c85;
	color: #737c85;
	padding: 10px 25px;
	font-size: 0.625vw;
	line-height: 24px;
	font-weight: 400;
}


a {
	text-align: center;
	color: #fff;
}


.mywork_text {
	color: #737c85;
	font-size: 0.78125vw;
	line-height: 32px;
	font-weight: 500;
	margin-bottom: 5px;
}


.mywork button {
	background: none;
	border: 1.7px solid #737c85;
	color: #737c85;
	padding: 5px 14px;
	font-size: 0.625vw;
	line-height: 24px;
	font-weight: 400;
}


.soc i {
	color: #737c85;
	font-size: 1.3vw;
	line-height: 32px;
	font-weight: 400;
	margin-top: 20px;
}


.fa-instagram {
	margin-left: 18px;
	margin-right: 18px;
}


.forma {
	margin-right: 0.78125vw;
	background: none;
	color: #737c85;
	border: 2px solid #737c85;
	padding: 5px 14px;
	border-radius: 1px;
}


.forma_buton {
	background: #737c85;
	color: #1e2327;
	border: 2px solid #737c85;
	padding: 5px 14px;
	border-radius: 2px;
}


form {
	margin-top: 1.5vh;
}










--------------------------------------------------------------









@media (max-width: 768px){


.colore_marginleft {
	margin-left: -2.5vw;
}


.colore9a904 {
	padding-left: 2.5vw;
}


.iau__h2 {
	font-size: 2vw;
}


.iau__text {
	font-size: 1.1vw;
}


.head__qwre {
	font-size: 1.1vw;
}


.price button {
	font-size: 1.1vw;
}


.mywork_text {
	font-size: 1.2vw;
}


.mywork button {
	font-size: 1.1vw;
}


.soc i {
	font-size: 1.8vw;
}


.fa-instagram {
	margin-left: 18px;
	margin-right: 18px;
}


.forma {
	margin-right: 1.2vw;
}


form {
	margin-top: 0;
}
}











































