html {
	font-family: 'Lato', sans-serif;
}


.color1e2327 {
	padding-top: 17vh;
	background: #1e2327;
	color: #ffffff;
	height: 100vh;
	display: table-cell;
	vertical-align: middle;
}


.color1e23 {
	padding-top: 17vh;
	background: #1e2327;
	color: #ffffff;
	height: 100vh;
	display: table-cell;
	vertical-align: middle;
}


.color1e {
	background: #1e2327;
	color: #ffffff;
	height: 15vh;
	display: table-cell;
	vertical-align: middle;
	padding-top: 2vh;
}



footer .row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
}


.qazxcdew {
	padding-right: 0px;
	padding-left: 0px;
}


.colore_marginleft {
	margin-left: -40.1px;
}


.colore9a904 {
	padding-top: 17vh;
	background: #e9a904;
	color: #1e2327;
	height: 100vh;
	padding-left: 40px;
	display: table-cell;
	vertical-align: middle;
}


.ma35 {
	margin-left: 35%;
}


.ma30 {
	margin-left: 37%;
}


.matovh {
	margin-top: 8vh;
}


.iau__h2 {
	color: #fff;
	font-size: 30px;
	line-height: 32px;
	font-weight: 300;
	margin-bottom: 67px; 
}


hr {
	margin-bottom: 60px;
	width: 7%;
	height: 1px;
	background: #737c85;
}


.iau__text {
	color: #737c85;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
}


.co1e {
	color: #1e2327;
}


.he220 {
	height: 220px;
}


.he410 {
	height: 410px;
}


.he380 {
	height: 380px;
}


.he427 {
	height: 427px;
}


.jpg7 {
	background: url(img/7.png);
}


.mw-100 {
	max-width: 100%;
}


.mw {
	width: 100%;
}


.ba15 {
	background: #1e2327;
}


.modal-title {
	color: #1e2327;
	font-size: 25px;
}


.forma_modal {
	margin-bottom: 10px;
	align-content: center;
	width: 50%;
	border: 1px solid #737c85;
	color: #737c85;
}


.modal_buton {
	border: 2px solid #737c85;
	color: #737c85;
	padding: 2.5px 6.25px;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
}


.bo35 {
	margin-bottom: 35px;
}


.head__qwre {
	color: #eaa904;
	font-size: 12px;
	line-height: 24px;
	font-weight: 300;
}


.njxrf {
	color: #5c646b;
}


.to40 {
	margin-top: 20px;
	margin-bottom: 20px;
}


.price button {
	background: none;
	border: 3px solid #737c85;
	color: #737c85;
	padding: 10px 25px;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
}


a {
	text-align: center;
	color: #fff;
}


.mywork_text {
	color: #737c85;
	font-size: 15px;
	line-height: 32px;
	font-weight: 500;
	margin-bottom: 5px;
}


.mywork button {
	background: none;
	border: 1.7px solid #737c85;
	color: #737c85;
	padding: 5px 14px;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
}


.soc i {
	color: #737c85;
	font-size: 25px;
	line-height: 32px;
	font-weight: 400;
	margin-top: 20px;
}


.fa-instagram {
	margin-left: 18px;
	margin-right: 18px;
}


.forma {
	margin-right: 15px;
	background: none;
	color: #737c85;
	border: 2px solid #737c85;
	padding: 5px 14px;
	border-radius: 1px;
}


.forma_buton {
	background: #737c85;
	color: #1e2327;
	border: 2px solid #737c85;
	padding: 5px 14px;
	border-radius: 2px;
}


form {
	margin-top: 1.5vh;
}



































@media (max-width: 1200px){
.color1e {
	height: 20vh;
	padding-top: 3vh;
}


.color1e input {
	margin-bottom: 1vh;
}


.dino {
	display: none;
}
}
@media (max-width: 992px){
.colore_marginleft {
	margin-left: -6.2%;
}


.ma35 {
	margin: 0;
	padding: 0;
}


.matovh {
	margin-top: 0vh;
}


hr {
	display: none;
}


.colore_marginleft {
	padding:0;
}





.jpg8 {
    background: url(img/7.png);
}


.ma30 {
	margin-left: 0;
}


.colore9a904 {
	height: 100vh;
	padding-left: 33.1px;
}


.iau__h2 {
	font-size: 24.8px;
	margin-bottom: 55.4px; 
}


hr {
	margin-top: 49.6px;
	margin-bottom: 49.6px;
}


.iau__text {
	font-size: 9.9px;
}



.he220 {
	height: 181.9px;
}


.he410 {
	height: 338.9px;
}


.he380 {
	height: 314.1px;
}


.he427 {
	height: 353.1px;
}



.bo35 {
	margin-bottom: 28.9px;
}


.head__qwre {
	font-size: 9.9px;
}



.to40 {
	margin-top: 16.5px;
	margin-bottom: 16.5px;
}


.price button {
	padding: 8.3px 20.7px;
	font-size: 9.9px;
}



.mywork_text {
	font-size: 12.4px;
	margin-bottom: 4.1px;
}


.mywork button {
	padding: 4.1px 11.6px;
	font-size: 9.9px;
}


.soc i {
	margin-top: 16.5px;
}


.fa-instagram {
	margin-left: 14.9px;
	margin-right: 14.9px;
}


.forma {
	margin-right: 12.4px;
	padding: 4.1px 11.6px;
}



form {
	margin-top: 0;
}
}





@media (max-width: 768px){
.iau__text {
	line-height: 19px;
}


.colore9a904 {
	height: 100vh;
	padding-left: 33.1px;
}


.iau__h2 {
	font-size: 24.8px;
	margin-bottom: 55.4px; 
}


hr {
	margin-top: 49.6px;
	margin-bottom: 49.6px;
}


.iau__text {
	font-size: 9.9px;
}



.he220 {
	height: 181.9px;
}


.he410 {
	height: 338.9px;
}


.he380 {
	height: 314.1px;
}


.he427 {
	height: 353.1px;
}



.bo35 {
	margin-bottom: 28.9px;
}


.head__qwre {
	font-size: 9.9px;
}



.to40 {
	margin-top: 16.5px;
	margin-bottom: 16.5px;
}


.price button {
	padding: 8.3px 20.7px;
	font-size: 9.9px;
}



.mywork_text {
	font-size: 12.4px;
	margin-bottom: 4.1px;
}


.mywork button {
	padding: 4.1px 11.6px;
	font-size: 9.9px;
}


.soc i {
	margin-top: 16.5px;
}


.fa-instagram {
	margin-left: 14.9px;
	margin-right: 14.9px;
}


.forma {
	margin-right: 12.4px;
	padding: 4.1px 11.6px;
}



form {
	margin-top: 0;
}
}










@media (max-width: 768px){
.iau__text {
	line-height: 19px;
}


.color1e{
	height: 30vh;
}


.colore9a904 {
	padding-left: 25.6px;
}


.iau__h2 {
	font-size: 19.2px;
	margin-bottom: 42.9px; 
}


hr {
	margin-top: 38.4px;
	margin-bottom: 38.4px;
}


.iau__text {
	font-size: 7.7px;
}



.he220 {
	height: 140.8px;
}


.he410 {
	height:262.4px;
}


.he380 {
	height: 243.1px;
}


.he427 {
	height: 273.4px;
}



.bo35 {
	margin-bottom: 22.4px;
}


.head__qwre {
	font-size: 7.7px;
}



.to40 {
	margin-top: 12.8px;
	margin-bottom: 12.8px;
}


.price button {
	padding: 6.4px 16.1px;
	font-size: 7.7px;
}



.mywork_text {
	font-size: 9.6px;
	margin-bottom: 3.2px;
}


.mywork button {
	padding: 3.2px 9.1px;
	font-size: 7.7px;
}


.soc i {
	margin-top: 12.8px;
}


.fa-instagram {
	margin-left: 9.1px;
	margin-right: 9.1px;
}


.forma {
	margin-right: 9.6px;
	padding: 3.2px 9.1px;
}
}









@media (max-width: 544px){
.iau__text {
	line-height: 15px;
}


.color1e input {
	width: 100%;
}


.head .color1e2327 { 
	padding-top: 10vh;
}


.head .color1e23 { 
	padding-top: 25vh;
}


.color1e {
	height: 40vh;
}


.colore9a904 {
	padding-left: 17.8px;
}


.iau__h2 {
	margin-bottom: 30.4px; 
}


hr {
	margin-top: 27.2px;
	margin-bottom: 27.2px;
}


.iau__text {
	font-size: 5.5px;
}



.he220 {
	height: 99.7px;
}


.he410 {
	height: 185.9px;
}


.he380 {
	height: 172.2px;
}


.he427 {
	height: 193.7px;
}



.bo35 {
	margin-bottom: 15.9px;
}


.head__qwre {
	font-size: 5.5px;
}



.to40 {
	margin-top: 9.1px;
	margin-bottom: 9.1px;
}


.price button {
	padding: 6.4px 11.4px;
	font-size: 5.5px;
}



.mywork_text {
	font-size: 9.6px;
	margin-bottom: 2.3px;
}


.mywork button {
	padding: 2.3px 6.4px;
	font-size: 5.5px;
}


.soc i {
	margin-top:6.4px;
}


.fa-instagram {
	margin-left: 6.4px;
	margin-right: 6.4px;
}


.forma {
	margin-right: 9.6px;
	padding: 2.3px 6.4px;
}
}
















